/**
 * Headings Styles
 * --------------------------------------------------
 */
.content-header-styles {
    font-weight: normal;
    color: $headers-default-text-color;
    margin-bottom: 0px !important;
}
.main-title-styles {
    margin: 10px 0 !important;
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 35px;
    line-height: 100%;
}
.home-title-styles {
    background: $home-title-bg;
    @extend .main-title-styles;
}
.section-title-styles {
    position: relative;
    padding: 0 20px 10px 31vw;
    line-height: 104%;
    margin: 0 !important;
    font-weight: 700;
    min-height: 13vw;
    align-items: center;
    display: flex;
}
.image-title-styles {
    content: "";
    position: absolute;
    height: 100%;
    width: 28.48vw;
    background: no-repeat center / cover;
    top: 0;
    left: 0;
    @include shadow-properties(1vw 0px 12px 0px rgba(0,0,0,0.4));
}
 .#{$site-name} {
    .content {
        h1 {
            color: white;
            margin-top: 30px;
            font-size: 50px;
            @extend .content-header-styles;
        }
        h2 {
            font-size: 30px;
            margin-top: 15px;
            font-weight: 700;
            padding: 9px 5px;
            color: $main-menu-bg;
            @extend .content-header-styles;
        }
        h3 {
            font-size: 18px;
            color: $h2-text-color;
            font-weight: 700;
            margin-top: 20px;
            display: inline-block;
            padding-right: 10px;
            @extend .content-header-styles;
        }
        h4 {
            color: $h2-text-color;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
            @extend .content-header-styles;
        }
    }
    .home-title {
        h1 {
            @extend .home-title-styles;
        }
    }
    .videos-container {
        h1 {
          @extend .home-title-styles;
        }
        .videosBuscandoCarrera {
           .videoPublication {
              border-color: $home-title-bg !important;
           }
        }
    }
    .menu-container {
        h1 {
          @extend .main-title-styles;
          background: $main-menu-bg;
        }
    }
    .thinking-container {
        h1 {
            @extend .section-title-styles;
            background: $home-section-first-item-bg;

            &:before {
              @extend .image-title-styles;
              background-image: url("#{$images-path}img_itemTitle1.png") !important;
            }
        }

        h2 {
            color: $home-section-first-item-bg !important;
        }
    }
    .know-careers-container {
        h1 {
            @extend .section-title-styles;
            background: $home-section-fourth-item-bg;

            &:before {
              @extend .image-title-styles;
              background-image: url("#{$images-path}img_itemTitle4.png") !important;
            }
        }

        h2 {
            color: $home-section-fourth-item-bg !important;
        }
    }
    .know-salary-container {
        h1 {
            @extend .section-title-styles;
            background: $home-section-sixth-item-bg;

            &:before {
              @extend .image-title-styles;
              background-image: url("#{$images-path}img_itemTitle6.png") !important;
            }
        }

        h2 {
            color: $home-section-sixth-item-bg !important;
        }
    }
    .teacher-container, .family-container {
        h1 {
            @extend .section-title-styles;
            background: $site-bg;
        }

        h2 {
            color: $site-bg !important;
        }

        .bordered-div {
            border-color: $site-bg !important;
        }
    }
    .teacher-container {
        h1 {
            &:before {
              @extend .image-title-styles;
              background-image: url("#{$images-path}img_itemTitle7.png") !important;
            }
        }
    }
    .family-container {
        h1 {
            &:before {
              @extend .image-title-styles;
              background-image: url("#{$images-path}img_itemTitle8.png") !important;
            }
        }
    }

    h2.title {
        display: none;
    }
}
