/**
 * Headings Styles
 * --------------------------------------------------
 */
.content-header-styles {
    font-weight: normal;
    color: $headers-default-text-color;
    margin-bottom: 0px !important;
}
.main-title-styles {
    margin: 10px 0 !important;
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 35px;
    line-height: 100%;
}
.home-title-styles {
    background: $home-title-bg;
    @extend .main-header-styles;
}

 .#{$site-name} {
    .content {
        h1 {
            color: white;
            margin-top: 30px;
            font-size: 50px !important;
            @extend .content-header-styles;
        }
        h2 {
            font-size: 20px;
            color: white;
            margin-top: 15px;
            font-weight: 600;
            padding: 9px 5px;
            background: $view-more-bg;
            @extend .content-header-styles;
        }
        h3 {
            font-size: 18px;
            color: $h2-text-color;
            font-weight: 700;
            margin-top: 20px;
            display: inline-block;
            padding-right: 10px;
            @extend .content-header-styles;
        }
        h4 {
            color: $h2-text-color;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
            @extend .content-header-styles;
        }
    }
    .home-title {
        h1 {
            @extend .home-title-styles;
        }
    }
    .videos-container {
        h1 {
          @extend .home-title-styles;
        }
        .videosBuscandoCarrera {
           .videoPublication {
              border-color: $home-title-bg !important;
           }
        }
    }
    .work-materials-container {
        h1 {
          @extend .main-title-styles;
          background: $main-menu-bg;
        }
    }
    h2.title {
        display: none;
    }
}
