/**
 * Home Section Styles
 * --------------------------------------------------
 */

 .#{$site-name} {
   .home-section {
     .container-fluid a {
       & > div {
         background: no-repeat right / contain;
         margin-bottom: 15px;

         h3, label {
             color: white !important;
             width: 100%;
             margin: 0 !important;
         }
         h3 {

            font-size: 32px !important;
            padding: 20px 110px 2px 0;
         }
         label {
            font-size: 18px;
            padding: 0px 110px 20px 0;
            font-weight: 400;
            cursor: pointer;
            line-height: 100%;
         }
       }
       &:hover {
         div {
           h3, label {
               text-decoration: underline;
           }
         }
       }
       &:first-child > div {
         background-image: url("#{$images-path}img_itemHomeMenu1.png");
         background-color: $home-section-first-item-bg;
       }
       &:nth-child(2) > div {
         background-image: url("#{$images-path}img_itemHomeMenu2.png");
         background-color: $home-section-second-item-bg;
       }
       &:nth-child(3) > div {
         background-image: url("#{$images-path}img_itemHomeMenu3.png");
         background-color: $home-section-third-item-bg;
       }
       &:nth-child(4) > div {
         background-image: url("#{$images-path}img_itemHomeMenu4.png");
         background-color: $home-section-fourth-item-bg;
       }
       &:nth-child(5) > div {
         background-image: url("#{$images-path}img_itemHomeMenu5.png");
         background-color: $home-section-fifth-item-bg;
       }
       &:nth-child(6) > div {
         background-image: url("#{$images-path}img_itemHomeMenu6.png");
         background-color: $home-section-sixth-item-bg;
       }
       &:nth-child(7) > div, &:nth-child(8) > div {
         height: 364px;

         h3, label {
           text-align: right;
         }
         h3 {
           padding: 20px 0 2px !important;
         }
         label {
           padding: 0 0 20px !important;
         }
       }
       &:nth-child(7) > div {
         background: url("#{$images-path}img_itemHomeMenu7.png") no-repeat 0 0 / 100% auto !important;
       }
       &:nth-child(8) > div {
         background: url("#{$images-path}img_itemHomeMenu8.png") no-repeat 0 0 / 100% auto !important;
       }

     }

      @media (min-width: 992px) {
        .container-fluid a {
           &:nth-child(odd) > div {
             border-right: 10px solid white;
           }
           &:nth-child(even) > div {
             border-left: 10px solid white;
           }
        }
      }
      @media (min-width: 768px) and (max-width: 991px) {
        .container-fluid a {
          &:nth-child(7) > div, &:nth-child(8) > div {
            height: 35vw !important;
          }
        }
      }
      @media (min-width: 768px) {
        .container-fluid a {
          & > div {
            h3 {
               font-size: 32px !important;
            }
            label {
               font-size: 18px !important;
            }
          }
          &:nth-child(7) > div {
            border-right: 10px solid white;
          }
          &:nth-child(8) > div {
            border-left: 10px solid white;
          }
        }
      }
      @media (max-width: 767px) {
        .container-fluid a {
          & > div {
            h3 {
               font-size: 20px !important;
            }
            label {
               font-size: 12px !important;
            }
          }
          &:nth-child(7) > div, &:nth-child(8) > div {
            height: 68vw !important;
          }
        }
      }
   }
 }
